absl-py==2.1.0
asgiref==3.7.2
astunparse==1.6.3
audioread==3.0.1
beautifulsoup4==4.13.4
blinker==1.9.0
Brotli==1.1.0
cachetools==5.5.2
certifi==2023.11.17
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.1
cssselect2==0.8.0
cycler==0.12.1
decorator==5.2.1
dj-database-url==2.3.0
Django==5.0.6
flatbuffers==25.2.10
fonttools==4.52.4
gast==0.6.0
google-auth==2.40.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.70.0
gunicorn==23.0.0
h5py==3.13.0
idna==3.7
imbalanced-learn==0.13.0
imblearn==0.0
itsdangerous==2.2.0
joblib==1.4.2
keras==3.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
langdetect==1.0.9
lazy_loader==0.4
libclang==18.1.1
librosa==0.11.0
lizard==1.17.31
llvmlite==0.44.0
lstm==0.1.0
lyricsgenius==3.6.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.8.4
mdurl==0.1.2
ml-dtypes==0.4.1
msgpack==1.1.0
mutagen==1.47.0
mysqlclient==2.2.5
namex==0.0.8
numba==0.61.0
numpy==1.26.4
oauthlib==3.2.2
opt_einsum==3.4.0
optree==0.14.1
packaging==24.0
pandas==2.2.2
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.3.6
playsound==1.2.2
pooch==1.8.2
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pychord==1.2.2
pycparser==2.22
pydub==0.25.1
pydyf==0.11.0
Pygments==2.19.1
PyMySQL==1.1.1
pyparsing==3.1.2
pyphen==0.17.2
python-dateutil==2.9.0.post0
pytube==15.0.0
pytz==2024.1
reportlab==4.4.1
requests==2.31.0
requests-oauthlib==2.0.0
response==0.5.0
rich==13.9.4
rsa==4.9.1
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
sequential==1.0.0
six==1.16.0
sklearn-compat==0.1.3
soundfile==0.13.1
soupsieve==2.7
soxr==0.5.0.post1
sqlparse==0.5.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.18.0
tensorflow
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
threadpoolctl==3.5.0
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
views==0.3
weasyprint==65.1
webencodings==0.5.1
Werkzeug==3.1.3
whitenoise==6.6.0
wrapt==1.17.2
yt-dlp==2025.5.22
zopfli==0.2.3.post1
